
.GridParent{
    margin-top: 50px; 
    padding: 20px;
    background-color: #f0f0f0;
    /* border: 1px solid #000000; */
}

/* sidenav.css */
/* styles.css */
/* styles.css */

/* Hover effect */
.list-item:hover {
  background-color: rgba(144, 144, 144, 0.589);
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* Click effect */
.list-item.selected {
  
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #feefc3;
}

/* Optional: Style ListItemButton for hover and click */
.list-item-button:hover {
  background-color: rgba(144, 144, 144, 0.589);
  cursor: pointer;
}

.list-item-button.selected {
  background-color: #feefc3;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number based on the number of icons */
  gap: 1rem; /* Adjust the spacing between icons as needed */
  align-items: center; /* Vertically center the icons */
  justify-content: center; /* Horizontally center the icons */
}
